<blockquote>Say that thou didst forsake me for some fault,<br/>
And I will comment upon that offence;<br/>
Speak of my lameness, and I straight will halt,<br/>
Against thy reasons making no defence.<br/>
Thou canst not, love, disgrace me half so ill,<br/>
To set a form upon desired change,<br/>
As I'll myself disgrace: knowing thy will,<br/>
I will acquaintance strangle and look strange,<br/>
Be absent from thy walks, and in my tongue<br/>
Thy sweet beloved name no more shall dwell,<br/>
Lest I, too much profane, should do it wrong<br/>
And haply of our old acquaintance tell.<br/>
&nbsp;&nbsp;For thee against myself I'll vow debate,<br/>
&nbsp;&nbsp;For I must ne'er love him whom thou dost hate.<br/>
</blockquote>