<blockquote>Poor soul, the centre of my sinful earth,<br/>
[&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ] these rebel powers that thee array;<br/>
Why dost thou pine within and suffer dearth,<br/>
Painting thy outward walls so costly gay?<br/>
Why so large cost, having so short a lease,<br/>
Dost thou upon thy fading mansion spend?<br/>
Shall worms, inheritors of this excess,<br/>
Eat up thy charge? is this thy body's end?<br/>
Then soul, live thou upon thy servant's loss,<br/>
And let that pine to aggravate thy store;<br/>
Buy terms divine in selling hours of dross;<br/>
Within be fed, without be rich no more:<br/>
&nbsp;&nbsp;So shalt thou feed on Death, that feeds on men,<br/>
&nbsp;&nbsp;And Death once dead, there's no more dying then.<br/>
</blockquote>