<blockquote>How careful was I, when I took my way,<br/>
Each trifle under truest bars to thrust,<br/>
That to my use it might unused stay<br/>
From hands of falsehood, in sure wards of trust!<br/>
But thou, to whom my jewels trifles are,<br/>
Most worthy of comfort, now my greatest grief,<br/>
Thou, best of dearest and mine only care,<br/>
Art left the prey of every vulgar thief.<br/>
Thee have I not lock'd up in any chest,<br/>
Save where thou art not, though I feel thou art,<br/>
Within the gentle closure of my breast,<br/>
From whence at pleasure thou mayst come and part;<br/>
&nbsp;&nbsp;And even thence thou wilt be stol'n, I fear,<br/>
&nbsp;&nbsp;For truth proves thievish for a prize so dear.<br/>
</blockquote>