<blockquote>Like as, to make our appetites more keen,<br/>
With eager compounds we our palate urge,<br/>
As, to prevent our maladies unseen,<br/>
We sicken to shun sickness when we purge,<br/>
Even so, being tuff of your ne'er-cloying sweetness,<br/>
To bitter sauces did I frame my feeding<br/>
And, sick of welfare, found a kind of meetness<br/>
To be diseased ere that there was true needing.<br/>
Thus policy in love, to anticipate<br/>
The ills that were not, grew to faults assured<br/>
And brought to medicine a healthful state<br/>
Which, rank of goodness, would by ill be cured:<br/>
&nbsp;&nbsp;But thence I learn, and find the lesson true,<br/>
&nbsp;&nbsp;Drugs poison him that so fell sick of you.<br/>
</blockquote>