<blockquote>Against that time, if ever that time come,<br/>
When I shall see thee frown on my defects,<br/>
When as thy love hath cast his utmost sum,<br/>
Call'd to that audit by advised respects;<br/>
Against that time when thou shalt strangely pass<br/>
And scarcely greet me with that sun thine eye,<br/>
When love, converted from the thing it was,<br/>
Shall reasons find of settled gravity,--<br/>
Against that time do I ensconce me here<br/>
Within the knowledge of mine own desert,<br/>
And this my hand against myself uprear,<br/>
To guard the lawful reasons on thy part:<br/>
&nbsp;&nbsp;To leave poor me thou hast the strength of laws,<br/>
&nbsp;&nbsp;Since why to love I can allege no cause.<br/>
</blockquote>