<blockquote>So are you to my thoughts as food to life,<br/>
Or as sweet-season'd showers are to the ground;<br/>
And for the peace of you I hold such strife<br/>
As 'twixt a miser and his wealth is found;<br/>
Now proud as an enjoyer and anon<br/>
Doubting the filching age will steal his treasure,<br/>
Now counting best to be with you alone,<br/>
Then better'd that the world may see my pleasure;<br/>
Sometime all full with feasting on your sight<br/>
And by and by clean starved for a look;<br/>
Possessing or pursuing no delight,<br/>
Save what is had or must from you be took.<br/>
&nbsp;&nbsp;Thus do I pine and surfeit day by day,<br/>
&nbsp;&nbsp;Or gluttoning on all, or all away.<br/>
</blockquote>