<blockquote>Sin of self-love possesseth all mine eye<br/>
And all my soul and all my every part;<br/>
And for this sin there is no remedy,<br/>
It is so grounded inward in my heart.<br/>
Methinks no face so gracious is as mine,<br/>
No shape so true, no truth of such account;<br/>
And for myself mine own worth do define,<br/>
As I all other in all worths surmount.<br/>
But when my glass shows me myself indeed,<br/>
Beated and chopp'd with tann'd antiquity,<br/>
Mine own self-love quite contrary I read;<br/>
Self so self-loving were iniquity.<br/>
&nbsp;&nbsp;'Tis thee, myself, that for myself I praise,<br/>
&nbsp;&nbsp;Painting my age with beauty of thy days.<br/>
</blockquote>