<blockquote>Unthrifty loveliness, why dost thou spend<br/>
Upon thyself thy beauty's legacy?<br/>
Nature's bequest gives nothing but doth lend,<br/>
And being frank she lends to those are free.<br/>
Then, beauteous niggard, why dost thou abuse<br/>
The bounteous largess given thee to give?<br/>
Profitless usurer, why dost thou use<br/>
So great a sum of sums, yet canst not live?<br/>
For having traffic with thyself alone,<br/>
Thou of thyself thy sweet self dost deceive.<br/>
Then how, when nature calls thee to be gone,<br/>
What acceptable audit canst thou leave?<br/>
&nbsp;&nbsp;Thy unused beauty must be tomb'd with thee,<br/>
&nbsp;&nbsp;Which, used, lives th' executor to be.<br/>
</blockquote>