<blockquote>The forward violet thus did I chide:<br/>
Sweet thief, whence didst thou steal thy sweet that smells,<br/>
If not from my love's breath? The purple pride<br/>
Which on thy soft cheek for complexion dwells<br/>
In my love's veins thou hast too grossly dyed.<br/>
The lily I condemned for thy hand,<br/>
And buds of marjoram had stol'n thy hair:<br/>
The roses fearfully on thorns did stand,<br/>
One blushing shame, another white despair;<br/>
A third, nor red nor white, had stol'n of both<br/>
And to his robbery had annex'd thy breath;<br/>
But, for his theft, in pride of all his growth<br/>
A vengeful canker eat him up to death.<br/>
&nbsp;&nbsp;More flowers I noted, yet I none could see<br/>
&nbsp;&nbsp;But sweet or colour it had stol'n from thee.<br/>
</blockquote>