<blockquote>When in the chronicle of wasted time<br/>
I see descriptions of the fairest wights,<br/>
And beauty making beautiful old rhyme<br/>
In praise of ladies dead and lovely knights,<br/>
Then, in the blazon of sweet beauty's best,<br/>
Of hand, of foot, of lip, of eye, of brow,<br/>
I see their antique pen would have express'd<br/>
Even such a beauty as you master now.<br/>
So all their praises are but prophecies<br/>
Of this our time, all you prefiguring;<br/>
And, for they look'd but with divining eyes,<br/>
They had not skill enough your worth to sing:<br/>
&nbsp;&nbsp;For we, which now behold these present days,<br/>
&nbsp;&nbsp;Had eyes to wonder, but lack tongues to praise.<br/>
</blockquote>