<blockquote>The little Love-god lying once asleep<br/>
Laid by his side his heart-inflaming brand,<br/>
Whilst many nymphs that vow'd chaste life to keep<br/>
Came tripping by; but in her maiden hand<br/>
The fairest votary took up that fire<br/>
Which many legions of true hearts had warm'd;<br/>
And so the general of hot desire<br/>
Was sleeping by a virgin hand disarm'd.<br/>
This brand she quenched in a cool well by,<br/>
Which from Love's fire took heat perpetual,<br/>
Growing a bath and healthful remedy<br/>
For men diseased; but I, my mistress' thrall,<br/>
&nbsp;&nbsp;Came there for cure, and this by that I prove,<br/>
&nbsp;&nbsp;Love's fire heats water, water cools not love.<br/>
</blockquote>