<blockquote>When my love swears that she is made of truth<br/>
I do believe her, though I know she lies,<br/>
That she might think me some untutor'd youth,<br/>
Unlearned in the world's false subtleties.<br/>
Thus vainly thinking that she thinks me young,<br/>
Although she knows my days are past the best,<br/>
Simply I credit her false speaking tongue:<br/>
On both sides thus is simple truth suppress'd.<br/>
But wherefore says she not she is unjust?<br/>
And wherefore say not I that I am old?<br/>
O, love's best habit is in seeming trust,<br/>
And age in love loves not to have years told:<br/>
&nbsp;&nbsp;Therefore I lie with her and she with me,<br/>
&nbsp;&nbsp;And in our faults by lies we flatter'd be.<br/>
</blockquote>