<blockquote>Canst thou, O cruel! say I love thee not,<br/>
When I against myself with thee partake?<br/>
Do I not think on thee, when I forgot<br/>
Am of myself, all tyrant, for thy sake?<br/>
Who hateth thee that I do call my friend?<br/>
On whom frown'st thou that I do fawn upon?<br/>
Nay, if thou lour'st on me, do I not spend<br/>
Revenge upon myself with present moan?<br/>
What merit do I in myself respect,<br/>
That is so proud thy service to despise,<br/>
When all my best doth worship thy defect,<br/>
Commanded by the motion of thine eyes?<br/>
&nbsp;&nbsp;But, love, hate on, for now I know thy mind;<br/>
&nbsp;&nbsp;Those that can see thou lovest, and I am blind.<br/>
</blockquote>