<blockquote>Lo! in the orient when the gracious light<br/>
Lifts up his burning head, each under eye<br/>
Doth homage to his new-appearing sight,<br/>
Serving with looks his sacred majesty;<br/>
And having climb'd the steep-up heavenly hill,<br/>
Resembling strong youth in his middle age,<br/>
yet mortal looks adore his beauty still,<br/>
Attending on his golden pilgrimage;<br/>
But when from highmost pitch, with weary car,<br/>
Like feeble age, he reeleth from the day,<br/>
The eyes, 'fore duteous, now converted are<br/>
From his low tract and look another way:<br/>
&nbsp;&nbsp;So thou, thyself out-going in thy noon,<br/>
&nbsp;&nbsp;Unlook'd on diest, unless thou get a son.<br/>
</blockquote>