<blockquote>Whilst I alone did call upon thy aid,<br/>
My verse alone had all thy gentle grace,<br/>
But now my gracious numbers are decay'd<br/>
And my sick Muse doth give another place.<br/>
I grant, sweet love, thy lovely argument<br/>
Deserves the travail of a worthier pen,<br/>
Yet what of thee thy poet doth invent<br/>
He robs thee of and pays it thee again.<br/>
He lends thee virtue and he stole that word<br/>
From thy behavior; beauty doth he give<br/>
And found it in thy cheek; he can afford<br/>
No praise to thee but what in thee doth live.<br/>
&nbsp;&nbsp;Then thank him not for that which he doth say,<br/>
&nbsp;&nbsp;Since what he owes thee thou thyself dost pay.<br/>
</blockquote>