<blockquote>So, now I have confess'd that he is thine,<br/>
And I myself am mortgaged to thy will,<br/>
Myself I'll forfeit, so that other mine<br/>
Thou wilt restore, to be my comfort still:<br/>
But thou wilt not, nor he will not be free,<br/>
For thou art covetous and he is kind;<br/>
He learn'd but surety-like to write for me<br/>
Under that bond that him as fast doth bind.<br/>
The statute of thy beauty thou wilt take,<br/>
Thou usurer, that put'st forth all to use,<br/>
And sue a friend came debtor for my sake;<br/>
So him I lose through my unkind abuse.<br/>
&nbsp;&nbsp;Him have I lost; thou hast both him and me:<br/>
&nbsp;&nbsp;He pays the whole, and yet am I not free.<br/>
</blockquote>