<blockquote>No longer mourn for me when I am dead<br/>
Then you shall hear the surly sullen bell<br/>
Give warning to the world that I am fled<br/>
From this vile world, with vilest worms to dwell:<br/>
Nay, if you read this line, remember not<br/>
The hand that writ it; for I love you so<br/>
That I in your sweet thoughts would be forgot<br/>
If thinking on me then should make you woe.<br/>
O, if, I say, you look upon this verse<br/>
When I perhaps compounded am with clay,<br/>
Do not so much as my poor name rehearse.<br/>
But let your love even with my life decay,<br/>
&nbsp;&nbsp;Lest the wise world should look into your moan<br/>
&nbsp;&nbsp;And mock you with me after I am gone.<br/>
</blockquote>