<blockquote>My love is as a fever, longing still<br/>
For that which longer nurseth the disease,<br/>
Feeding on that which doth preserve the ill,<br/>
The uncertain sickly appetite to please.<br/>
My reason, the physician to my love,<br/>
Angry that his prescriptions are not kept,<br/>
Hath left me, and I desperate now approve<br/>
Desire is death, which physic did except.<br/>
Past cure I am, now reason is past care,<br/>
And frantic-mad with evermore unrest;<br/>
My thoughts and my discourse as madmen's are,<br/>
At random from the truth vainly express'd;<br/>
&nbsp;&nbsp;For I have sworn thee fair and thought thee bright,<br/>
&nbsp;&nbsp;Who art as black as hell, as dark as night.<br/>
</blockquote>