<blockquote>O thou, my lovely boy, who in thy power<br/>
Dost hold Time's fickle glass, his sickle, hour;<br/>
Who hast by waning grown, and therein show'st<br/>
Thy lovers withering as thy sweet self grow'st;<br/>
If Nature, sovereign mistress over wrack,<br/>
As thou goest onwards, still will pluck thee back,<br/>
She keeps thee to this purpose, that her skill<br/>
May time disgrace and wretched minutes kill.<br/>
Yet fear her, O thou minion of her pleasure!<br/>
She may detain, but not still keep, her treasure:<br/>
&nbsp;&nbsp;Her audit, though delay'd, answer'd must be,<br/>
&nbsp;&nbsp;And her quietus is to render thee.<br/>
</blockquote>