<blockquote>Being your slave, what should I do but tend<br/>
Upon the hours and times of your desire?<br/>
I have no precious time at all to spend,<br/>
Nor services to do, till you require.<br/>
Nor dare I chide the world-without-end hour<br/>
Whilst I, my sovereign, watch the clock for you,<br/>
Nor think the bitterness of absence sour<br/>
When you have bid your servant once adieu;<br/>
Nor dare I question with my jealous thought<br/>
Where you may be, or your affairs suppose,<br/>
But, like a sad slave, stay and think of nought<br/>
Save, where you are how happy you make those.<br/>
&nbsp;&nbsp;So true a fool is love that in your will,<br/>
&nbsp;&nbsp;Though you do any thing, he thinks no ill.<br/>
</blockquote>