<blockquote>When I have seen by Time's fell hand defaced<br/>
The rich proud cost of outworn buried age;<br/>
When sometime lofty towers I see down-razed<br/>
And brass eternal slave to mortal rage;<br/>
When I have seen the hungry ocean gain<br/>
Advantage on the kingdom of the shore,<br/>
And the firm soil win of the watery main,<br/>
Increasing store with loss and loss with store;<br/>
When I have seen such interchange of state,<br/>
Or state itself confounded to decay;<br/>
Ruin hath taught me thus to ruminate,<br/>
That Time will come and take my love away.<br/>
&nbsp;&nbsp;This thought is as a death, which cannot choose<br/>
&nbsp;&nbsp;But weep to have that which it fears to lose.<br/>
</blockquote>