<blockquote>Not mine own fears, nor the prophetic soul<br/>
Of the wide world dreaming on things to come,<br/>
Can yet the lease of my true love control,<br/>
Supposed as forfeit to a confined doom.<br/>
The mortal moon hath her eclipse endured<br/>
And the sad augurs mock their own presage;<br/>
Incertainties now crown themselves assured<br/>
And peace proclaims olives of endless age.<br/>
Now with the drops of this most balmy time<br/>
My love looks fresh, and death to me subscribes,<br/>
Since, spite of him, I'll live in this poor rhyme,<br/>
While he insults o'er dull and speechless tribes:<br/>
&nbsp;&nbsp;And thou in this shalt find thy monument,<br/>
&nbsp;&nbsp;When tyrants' crests and tombs of brass are spent.<br/>
</blockquote>