<blockquote>Those hours, that with gentle work did frame<br/>
The lovely gaze where every eye doth dwell,<br/>
Will play the tyrants to the very same<br/>
And that unfair which fairly doth excel:<br/>
For never-resting time leads summer on<br/>
To hideous winter and confounds him there;<br/>
Sap cheque'd with frost and lusty leaves quite gone,<br/>
Beauty o'ersnow'd and bareness every where:<br/>
Then, were not summer's distillation left,<br/>
A liquid prisoner pent in walls of glass,<br/>
Beauty's effect with beauty were bereft,<br/>
Nor it nor no remembrance what it was:<br/>
&nbsp;&nbsp;But flowers distill'd though they with winter meet,<br/>
&nbsp;&nbsp;Leese but their show; their substance still lives sweet.<br/>
</blockquote>