<blockquote>Ah! wherefore with infection should he live,<br/>
And with his presence grace impiety,<br/>
That sin by him advantage should achieve<br/>
And lace itself with his society?<br/>
Why should false painting imitate his cheek<br/>
And steal dead seeing of his living hue?<br/>
Why should poor beauty indirectly seek<br/>
Roses of shadow, since his rose is true?<br/>
Why should he live, now Nature bankrupt is,<br/>
Beggar'd of blood to blush through lively veins?<br/>
For she hath no exchequer now but his,<br/>
And, proud of many, lives upon his gains.<br/>
&nbsp;&nbsp;O, him she stores, to show what wealth she had<br/>
&nbsp;&nbsp;In days long since, before these last so bad.<br/>
</blockquote>