<blockquote>They that have power to hurt and will do none,<br/>
That do not do the thing they most do show,<br/>
Who, moving others, are themselves as stone,<br/>
Unmoved, cold, and to temptation slow,<br/>
They rightly do inherit heaven's graces<br/>
And husband nature's riches from expense;<br/>
They are the lords and owners of their faces,<br/>
Others but stewards of their excellence.<br/>
The summer's flower is to the summer sweet,<br/>
Though to itself it only live and die,<br/>
But if that flower with base infection meet,<br/>
The basest weed outbraves his dignity:<br/>
&nbsp;&nbsp;For sweetest things turn sourest by their deeds;<br/>
&nbsp;&nbsp;Lilies that fester smell far worse than weeds.<br/>
</blockquote>