<blockquote>O, for my sake do you with Fortune chide,<br/>
The guilty goddess of my harmful deeds,<br/>
That did not better for my life provide<br/>
Than public means which public manners breeds.<br/>
Thence comes it that my name receives a brand,<br/>
And almost thence my nature is subdued<br/>
To what it works in, like the dyer's hand:<br/>
Pity me then and wish I were renew'd;<br/>
Whilst, like a willing patient, I will drink<br/>
Potions of eisel 'gainst my strong infection<br/>
No bitterness that I will bitter think,<br/>
Nor double penance, to correct correction.<br/>
&nbsp;&nbsp;Pity me then, dear friend, and I assure ye<br/>
&nbsp;&nbsp;Even that your pity is enough to cure me.<br/>
</blockquote>